<section class="home">
  <div class="slides-container">
    <div class="slide active">
      <div class="content">
        <span>Los mejores cursos</span>
        <h3>Refuerza tu aprendizaje</h3>
        <p>encontraras los mejores apuntes de tus clases , trucos matemáticos , imagenes , videos y más ... solo tu
          pones los limites </p>
        <a href="./login.html" class="btn">Ir a cursos</a>
      </div>
      <div class="image">
        <img src="assets/image/home-img-1.png" alt="">
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <span>recursos</span>
        <h3>aplica en tus clases</h3>
        <p>Los mejores recursos para el docente innovador , impacta en tus clases </p>
        <a href="#" class="btn">recursos del docente</a>
      </div>
      <div class="image">
        <img src="assets/image/home-img-2.png" alt="">
      </div>
    </div>
  </div>
  <div id="slide-next" onclick="next()" class="fas fa-angle-right"></div>
  <div id="slide-prev" onclick="prev()" class="fas fa-angle-left"></div>
</section>
<!-- home section ends -->
<!-- banner para escoger los cursos -->
<!-- banner section ends -->
